@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
    line-height: 1;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}
:root{
    --margem-principal: 2rem 9rem;
    --margem-interna: 16px 0;
    --titulo:32px;
    --paragrafo: 22px;
    --cor-fundo:#eaf2fd;
    --cor-secundaria: #c6ceda;
    --cor-branco:white;
    --cor-caixa: #8fb3e6;
}

/*HEADER - CABEÇALHO */
.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: var(--margem-principal);}
.cabecalho__links{
    display: flex;
    gap: 2rem;}

/*APRESENTAÇÃO*/
.apresentacao{
    height: 368px;
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    margin: var(--margem-principal);
    background-color: var(--cor-branco);}
.apresentacao__texto{
    align-self: center;}
.apresentacao__texto__titulo{
    font-weight: bold;
    font-size: 52px;}
.apresentacao__texto__paragrafo{
    font-size: 22px;
    padding: 24px 0;}
.apresentacao__button{
    display: flex;
    gap: 2rem;}
.apresentacao__button button{
    display: flex;
    align-items:baseline;
    border: 0cap;
    background-color: var(--cor-branco);
    font-size: 16px;
    font-stretch: expanded;}
.apresentacao__button img{
    height: 13px;}
.apresentacao__img{
    width: 368px;
    height: 368px;
    margin-left: 1rem;
    justify-content: center;}

/*SOBRE MIM*/
#sobre__mim{
    height: 383px;
    width: 100%;
    display:flex;
    background-color: var(--cor-secundaria);
    background-size: cover;
}
.sobre__mim__texto{
    margin: var(--margem-principal);
    max-width: 47rem;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.sobre__mim__titulo{
    font-size: var(--titulo);
}

.sobre__mim__paragrafo{
    font-size: 22px;
    padding: var(--margem-interna);
}

/*.SKILLS*/
#skills{
    margin: var(--margem-principal);
    margin-top: 50px;
    margin-bottom: 50px;
}
ul{
    list-style-type: none;
}
.skills__titulo{
    padding: var(--margem-interna);
    font-size: var(--titulo);
    text-align: center;
    font-weight: bold;
}

.skills__lista{
    display: flex;
    justify-content: space-between;
}

.skills__lista__item {
    width: 8rem;
    height: 8rem;
    background-color: var(--cor-caixa);
    padding: 1rem;
    align-content: flex-end;
}

/*.HOBBIES*/
#hobbies{
    margin: var(--margem-principal);
}

.hobbies__titulo{
    padding: var(--margem-interna);
    font-size: var(--titulo);
    text-align: center;
    font-weight: bold;}

.hobbies__lista{
    display: flex;
    justify-content: space-between;}

.hobbies__lista__item {
    width: 8rem;
    height:8rem;
    background-color: var(--cor-caixa);
    padding: 1rem;
    align-content: flex-end;
}

/* FORMAÇAO */
#formacao{
    padding: var(--margem-interna);
    height:581px;
    background-color: var(--cor-secundaria);
    background-size: cover;}

.formacao__texto{
    margin-top: 50px;
    margin: var(--margem-principal);
    text-align:center;
}

.formacao__titulo{
    font-size: var(--titulo);
    font-weight: bold;
}

.formacao__lista{
    display: flex;
    justify-content: space-between;
}

.formacao__lista__items{
    width: 8rem;
    height:8rem;
    background-color: var(--cor-caixa);
    padding: 1rem;
    align-content: flex-end;
}

@media (max-width:995px) {
    .apresentacao__img{
    display: none;
    }
}

@media (max-width:450px) {    
    .cabecalho__links{
        display: none;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
        
}