@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    line-height: 1;
    
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);}

:root{
    --margem-geral: 1rem 9.5rem;
    --largura-geral: 1136px;
    --margem-interna: 16px 0;
    --largura-background:1440px;

    --apresentacao-titulo: 52px;
    --apresentacao-paragrafo:22px;
    --apresentacao-link:16px;

    --corpo-titulo:32px;
    --corpo-paragrafo: 16px;

    --ul-largura:1136px;
    --lista-item-Wlargura:176px;
    --lista-item-Haltura:174px;

    --cor-fundo:#EDEDED;
    --cor-secundaria: #EAF2FD;
    --cor-branco:white;
    --cor-caixa: #8fb3e6;
}

/*HEADER - CABEÇALHO */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
}

.cabecalho__logo{
    font-weight: bold;
    justify-content: flex-start;}
.contato{
    font-weight: bold;
    justify-content: flex-end;}
.cabecalho__links{
    display: flex;
    gap: 2rem;}


/*APRESENTAÇÃO*/
.apresentacao{
    height: 300px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    border: 2px solid;
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
    background-color: var(--cor-branco);}
.apresentacao__texto{
    align-self: center;
    font-stretch: expanded;}
.apresentacao__texto__titulo{
    font-weight: bold;
    font-size: var(--apresentacao-titulo);}
.apresentacao__texto__paragrafo{
    font-size: var(--apresentacao-paragrafo);
    padding: 24px 0;}
.apresentacao__button{
    display: flex;
    gap: 2rem;}
.apresentacao__button button{
    display: flex;
    align-items:baseline;
    border: 0cap;
    background-color: var(--cor-branco);
    font-size: var(--apresentacao-link);
    font-stretch: expanded;}
.apresentacao__button img{
    height: 13px;}
.apresentacao__img{
    margin-left: 1rem;
    justify-content: center;
}


/*SOBRE MIM*/
#sobre__mim{
    min-width:var(--largura-background);
    display:flex;
    background-color: var(--cor-secundaria);
    background-size: cover;}
.sobre__mim__texto{
    margin: var(--margem-geral);
    max-width: 47rem;
    margin-top: 50px;
    margin-bottom: 50px;}
.sobre__mim__titulo{
    font-size: var(--corpo-titulo);}
.sobre__mim__paragrafo{
    font-size: var(--corpo-paragrafo);
    padding: var(--margem-interna);}


/*.SKILLS*/
#skills{
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
}

.skills__titulo{
    display: flex;
    padding: var(--margem-interna);
    font-size: var(--corpo-titulo);
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
ul{
    list-style-type: none;
    min-width: var(--ul-largura);
    gap:16px;
}
    
.skills__lista{
    display: flex;
    justify-content: space-between;}

.skills__lista__item {
    width: var(--lista-item-Wlargura);
    height: var(--lista-item-Haltura);
    background-color: var(--cor-branco);
    padding: 1rem;
    align-content: flex-end;
    font-size: var(--corpo-paragrafo);
    font-weight: bold;
}

/*.HOBBIES*/
#hobbies{
    margin: var(--margem-geral);
    min-width: var(--largura-geral);}

.hobbies__titulo{
    padding: var(--margem-interna);
    font-size: var(--corpo-titulo);
    text-align: center;
    font-weight: bold;}

.hobbies__lista{
    display: flex;
    justify-content: space-between;}

.hobbies__lista__item {
    width: var(--lista-item-Wlargura);
    height: var(--lista-item-Haltura);
    background-color: var(--cor-branco);
    padding: 1rem;
    align-content: flex-end;
    font-size: var(--corpo-paragrafo);
    font-weight: bold;
}



/* FORMAÇAO */
#formacao{
    min-width:var(--largura-background);
    padding: var(--margem-interna);
    background-color: var(--cor-secundaria);
    background-size: cover;}


.formacao__titulo{
    padding: var(--margem-interna);
    justify-content:center;
    text-align: center;
    font-size: var(--corpo-titulo);
    font-weight: bold;}

.formacao__lista{
    display: flex;
    justify-content:space-between;
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
}

.formacao__lista_itens__item{
    display: flex;
    background-color: white;
    height: 286px;
    width: 368px;
    justify-content: center;
    align-items: center;}

.formacao__lista_itens__texto{
    margin: 0.5rem;
    text-align: start;
    font-size: var(--corpo-paragrafo);
}


/*PROJETOS*/
#projetos{
    padding: var(--margem-interna);
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
}

#projetos h3{
    font-size:var(--apresentacao-paragrafo);
    margin-bottom: 0.5rem;}

#projetos p{
    font-size: var(--corpo-paragrafo);
    margin-bottom: 0.5rem;}

#projetos a{
    text-decoration: none;
}

.projetos__texto{
    text-align: center;
    font-size: var(--corpo-titulo);
    margin-bottom: 22px;}

.projetos__img{
    margin: 0.5rem;
}

.projetos__caixaTexto{
    width: 348px;
    height: 112px;
    margin: 0.5rem 1rem;

}
.projetos__itens{
    display: flex;
    flex-direction: column;
}

.projetos__itens__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.button{
    display: flex;
    justify-content: space-between;
    height: 51px;
}

#projetos button{
    font-size: var(--corpo-paragrafo);
    width: 125px;
    border: 1px solid #2A7AE4;}

.repositorio{
    color: #2A7AE4;}

.projetos__button__demo{
    color:white;
    background-color: #2A7AE4;}
.demo{
    color: white;
    background-color: #2A7AE4;
}

/*CONTATO*/
#contato{
    min-width: var(--largura-background);
    padding: 4rem 0;
    background-color: var(--cor-secundaria);
    background-size: cover;}

.contato__caixa{
    display: flex;
    justify-content: space-between;
    margin: var(--margem-geral);
    width:var(--largura-geral);
    height: 660px;
}

.contato img{
    width: 464px;
    height: 593px;
}

.contato__caixa__texto{
    height: 660px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contato__titulo{
    font-size: var(--corpo-titulo);
}
.contato__paragrafo{
    font-size: var(--corpo-paragrafo);
}

.contato__caixa__input__area{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin: var(--margem-interna);
}

.contato__label{
    margin-left: 2px;
    font-size: 12px;
    color: #A2A2A2;
}

.contato__input{
    margin-left: 2px;
    border: none;
    font-size: 16px;
}
.contato__button{
    font-size: var(--corpo-paragrafo);
    width: 165px;
    height: 51px;
    border: 1px solid #2A7AE4;
    color: white;
    background-color: #2A7AE4;
}

.rodape{
    min-width:var(--largura-background);
    background-color: white;
    background-size: contain;
}
.rodape__texto{
    padding: var(--margem-interna);
    text-align: center;
}









/*TABLET*/
@media (max-width:770px) {
:root{        
    --margem-geral: 32px 32px;
    --margem-interna: 16px 0;
    --apresentacao-titulo: 22px;
    --apresentacao-paragrafo:16px;
    --apresentacao-link:16px;
    --largura-geral:768px;
    --largura-background:850px;
    --ul-largura:768px;
    --lista-item-Wlargura:224px;
    --lista-item-Haltura:118px;
    --cor-fundo:#EDEDED;
    --cor-secundaria: #EAF2FD;
    --cor-branco:white;
    --cor-caixa: #8fb3e6;
}
.cabecalho{
    margin: var(--margem-geral);
    width: var(--largura-geral);
}
.cabecalho__links{
    display: none;
}

.apresentacao{
    display: flex;
    height: 210px;
    justify-content: space-between;
    margin: var(--margem-geral);
    border: none;
    background-color: var(--cor-fundo);
}
.apresentacao__img{
    width: 146px;
    height: 210px;
    background-color: var(--cor-fundo);
}

.apresentacao__button button{
    background-color: var(--cor-fundo);
}

#sobre__mim{
    min-width: var(--largura-background);
}
.sobre__mim__texto{
    margin: var(--margem-geral);
}


#skills{
    margin: var(--margem-geral);
}

ul{
    list-style-type: none;
    min-width: var(--ul-largura);
    gap:8px;
}

.skills__lista{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 800px;
}

#hobbies{
    max-width: 768px;
    margin: var(--margem-geral);
}
.hobbies__lista{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 800px;
}

.hobbies__lista__item {
    width: 224px;
    height:118;
}

#formacao{
    min-width: var(--largura-background);
    height: 291px;
}
.formacao__texto{
    margin: var(--margem-geral);
}

.formacao__lista{
    margin: var(--margem-geral);
    width: 704px;
    height: 169px;
}
.formacao__lista__itens{
    width: 224px;
    height: 169px;
}
.formacao__lista_itens__item{
    width: 224px;
    height: 118px;
}
.formacao__logo{
    width: auto;
    height: 50px;
}
#projetos{
    padding: var(--margem-interna);
    margin: var(--margem-geral);
    min-width: var(--largura-geral);
}

.projetos__itens__item{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.projetos__itens__item:nth-child(2){
    flex-direction: column-reverse;
}

#contato{
    min-width: var(--largura-background);
}
.contato__caixa img{ 
    display: none;
}
.rodape{
    min-width: var(--largura-background); 
}



}






@media (max-width:450px) {    
    .cabecalho__links{
        display: none;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
        
}